@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .main-body {
    width: 100%;
    height: 100%;

}

hr.line {
    margin: 0;
    border: 1px solid white;

    margin: 10px;
}

.main-body {
    display: flex;
    flex-direction: row;
}

.btn-div {

    display: flex;
    flex-direction: column;
    background-color: rgba(63,81,181,255);

}

.sub-div {

    display: flex;
    flex-direction: row;

}

.input-btn {

    position: relative;

    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin: 5px;

    border-radius: 1rem;
    border-color: white;
    text-align: center;
    text-justify:newspaper;

}

.rotacion {
    transform: translateX(50%, 50%);
    transform: rotate(-90deg);
}

.icon-btn {

    position: relative;
    border: none;

    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin: 5px;

    background: none;
    color: white;
    border-radius: 50%;

}

.icon-btn input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    border-radius: 4px;
  }


.color-btn{
   
    border: none;

    width: 3rem;
    height: 3rem;
    padding: 0;
    font-size: 2.2em;
    margin: 5px;

    background: none;
    border-radius: 50%;

}

.color-btn:hover i{
    border: 2px  solid white;
    border-radius: 50%;
}

.icon-btn:hover, .activeS, .activeC{

    background-color: white;
    color: rgba(63,81,181,255);

}

#canvas-div {

    width: 100%;

}

#canvas {
    position: fixed;
    z-index: 1;
}
#canvas-preview {
    z-index: 0;
}

.slider {
    -webkit-appearance: none;
    width: 86%;
    height: 8px;
    border-radius: 5px;
    margin: 0.5rem;
    background: white;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(63,81,181,255);
    cursor: pointer;
  }

  .slidecontainer p, .slidecontainer span{
    margin-bottom: 5px;
    margin-left: 0.5rem;

    color: white;
  }

  input[type='color'] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
  }
  
  .cp_wrapper {
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid white;
    /* optional formatting below here */
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
    margin: 1em;
  }

  #menu {

    position: absolute;
    display: flex;
    flex-direction: column;

    width: 12rem;
    height: auto;

    z-index: 99;
    display: none;
    background-color: rgba(0, 0, 0, 0.815);

    padding-top: 5px;
    padding-bottom: 5px;

  }

  .menu-btn {

    background: none;
    color: white;
    padding: 0 10px 0 10px;
    text-align: left;
    border: none;

  }

  .menu-btn:hover{

    background-color: rgba(255, 255, 255, 0.226);

  }

  .menu-btn i {

    margin-right: 5px;

  }